* {
	font-family: arial, sarif;
	text-decoration: none;
	font-size: 12px;

}
body {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	margin: auto;
	border: 1px solid yellow;

}

#logoOutline {
	height: 100px;
	width: 100%;
	position: absolute;
	top: 216px;
}

#logoContainer {
	height: 100px;
	width: 275px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#logo {
	height: 100px;
	width: 275px;
}

#header a {
	color: black;
	text-align: center;
	display: block;
	float: left;
	margin-right: 15px;
	margin-bottom: 23px;
	margin-top: 23px;
}

#header {
	height: 55px;
	width: 335px;
	position: fixed;
	right: 0;

}

img {
	position: absolute;
	top: 10px;
}

#search {
	width: 470px;
	height: 18px;
	position: absolute;
	top: 350px;
}

#searchBar {
	width: 470px;
	height: 18px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#mic {
	width: 20px;
	height: 20px;
	position: relative;
	top: 351px;
	display: block;
	float: right;
}